<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">Gregory Garzon's portfolio website</span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" routerLink="/" routerLinkActive="active">Portfolio</a>
            <a class="mdl-navigation__link" routerLink="/skills" routerLinkActive="active">Skills</a>
            <a class="mdl-navigation__link" routerLink="/about" routerLinkActive="active">About</a>
            <a class="mdl-navigation__link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout__title">{{ projectName }}</span>
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" routerLink="/" routerLinkActive="active">Portfolio</a>
        <a class="mdl-navigation__link" routerLink="/skills" routerLinkActive="active">Skills</a>
        <a class="mdl-navigation__link" routerLink="/about" routerLinkActive="active">About</a>
        <a class="mdl-navigation__link" routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
</div>